<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand"
              @onclick="OnSidebarToggleClicked">
            Menu
        </span>
    </div>
</nav>
