$color-white: #ffffff;

$color-black: rgb(51, 51, 51);
$color-black-80: rgb(92, 92, 92);
$color-black-60: rgb(133, 133, 133);
$color-black-40: rgb(173, 173, 173);
$color-black-20: rgb(214, 214, 214);

$color-gray: rgb(53, 75, 84);
$color-gray-80: rgb(93, 111, 118);
$color-gray-60: rgb(134, 147, 152);
$color-gray-40: rgb(174, 183, 187);
$color-gray-20: rgb(215, 219, 221);

$color-red: rgb(172, 36, 38);
$color-red-80: rgb(189, 80, 81);
$color-red-60: rgb(205, 124, 125);
$color-app-background: #F5F5F5;
