.app-sidebar {
    & .off-canvas-header {
        margin: 0;
        padding: 0;
    }

    & .offcanvas-body {
        margin: 0;
        padding: 0;
    }

    hr {
        position: relative;
        display: block;
        height: 2px;
        margin: 8px 0;
        padding: 0;
        background-color: #9F9F9F;
    }
}
