@inherits AppComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form>
                @* Buttons *@
                <div class="mb-3">
                    <button type="button"
                            class="btn btn-primary"
                            @onclick="OnDownloadFileClicked">
                        Increase sync
                    </button>

                    <button type="button"
                            class="btn btn-secondary"
                            @onclick="OnDownloadFileClickedAsync">
                        Increase async
                    </button>

                    <button type="button"
                            class="btn btn-info"
                            @onclick="OnGetWindowSizeClickedAsync">
                        Get window size
                    </button>
                </div>

                @* Label *@
                <div class="mb-3">
                    <span>
                        Counter: @_counter
                    </span>
                </div>

                @* Input *@
                <div>
                    <input />
                </div>
            </form>
        </div>
    </div>
</div>
