.slide-container {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 500px;
        height: 500px;
    }

    $animation-duration: 0.5s;

    .slide-down-in {
        animation: slide-down-in $animation-duration ease-in-out forwards;
    }

    .slide-down-out {
        animation: slide-down-out $animation-duration ease-in-out forwards;
    }

    .slide-up-in {
        animation: slide-up-in $animation-duration ease-in-out forwards;
    }

    .slide-up-out {
        animation: slide-up-out $animation-duration ease-in-out forwards;
    }

    @keyframes slide-down-in {
        0% {
            transform: translateY(-100%);
            visibility: hidden;
        }

        1% {
            visibility: visible;
        }

        100% {
            transform: translateY(0%);
            visibility: visible;
        }
    }

    @keyframes slide-down-out {
        0% {
            transform: translateY(0%);
            visibility: visible;
        }

        99% {
            visibility: visible;
        }

        100% {
            transform: translateY(100%);
            visibility: hidden;
        }
    }

    @keyframes slide-up-in {
        0% {
            transform: translateY(100%);
            visibility: hidden;
        }

        1% {
            visibility: visible;
        }

        100% {
            transform: translateY(0%);
            visibility: visible;
        }
    }

    @keyframes slide-up-out {
        0% {
            transform: translateY(0%);
            visibility: visible;
        }

        99% {
            visibility: visible;
        }

        100% {
            transform: translateY(-100%);
            visibility: hidden;
        }
    }
}
